body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #b1ff71, #fffc66, #f671ff);
    /* Empêche la sélection du texte */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none;      /* IE 10 et + */
    user-select: none;          /* Standard (Chrome, Firefox, Opera) */
}

#calculator{
    font-family: Arial, sans-serif;
    background-color:hsl(0, 0, 15%);
    border-radius: 15px;
    max-width: 500px;
    max-height: 900px;
    overflow: hidden;
}

button {
    width: 100%; /* S'adapte à la cellule de la grille */
    aspect-ratio: 1 / 1; /* Garde le bouton parfaitement rond */
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
    font-weight: bold;
    transition: ease .1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover{
    background-color:hsl(0, 0%, 40%);
}

button:active{
    background-color:hsl(0, 0%, 50%);
}

.operator_btn{
    background-color:hsl(35, 100%, 50%)
}

.operator_btn:hover{
    background-color:hsl(35, 100%, 40%)
}
.operator_btn:active{
    background-color:hsl(35, 100%, 60%)
}


#display{
    width: 93%;
    padding: 20px;
    font-size: 3rem;
    text-align:right;
    border: none;
    color: #fff;
    background-color:hsl(0, 0%, 45%);
    pointer-events: none; /* Le clic passe à travers, comme s'il n'y avait rien */
    user-select: none;    /* Empêche aussi de sélectionner le texte à l'intérieur */
    
}

#keys {
    background-color: hsl(0, 0%, 18%);
    display: grid;
    /* 4 colonnes égales */

    grid-template-columns: repeat(4, 6rem); 
    gap: 12px;
    padding: 20px;
    justify-content: center;
}

#icon{
    width: 50%;
    filter: invert(100%);
}

img{
    -webkit-user-drag: none;
    pointer-events: none; /* L'image devient "transparente" aux clics */
}

/* Style spécial pour le bouton 0 (Large) */
#zero-btn {
    grid-column: span 2;
    aspect-ratio: auto; /* On casse le ratio 1/1 pour l'élargir */
    border-radius: 50px; /* Forme pilule */
}
/* Style spécial pour le bouton égale (Haut) */
#equal_btn {
    grid-row: span 2;
    aspect-ratio: auto;
    height: 100%;
    border-radius: 50px;
    background-color: hsl(35, 100%, 50%); /* Comme les opérateurs */
}

#equal_btn:hover { background-color: hsl(35, 100%, 40%); }

